.footerBlock {
    background-color: #171817;
    color: #d9d6d6;
    .footerContainer {
        flex-direction: column;
        justify-content: flex-start;
        min-height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 70%;
        margin: 0 auto;
    }
    ///* Для маленьких экранов */
    //@media screen and (max-width: 600px) {
    //        width: 100%;
    //        min-height: 100%;
    //}
    //
    ///* Для средних экранов */
    //@media screen and (min-width: 600px) and (max-width: 900px) {
    //        width: 100%;
    //        min-height: 100%;
    //}
    //
    ///* Для больших экранов */
    //@media screen and (min-width: 900px) {
    //        width: 100%;
    //}

}
